<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    {%- if site.styles -%}
        {%- for style in site.styles -%}
            <link rel="stylesheet" href="{{ style | relative_url }}">
        {%- endfor -%}
    {%- endif -%}
    {%- if site.scripts -%}
        {%- for script in site.scripts -%}
            <script src="{{ script | relative_url }}"></script>
        {%- endfor -%}
    {%- endif -%}
</head>