// Defines the overall layout of the site. Includes things like the default
// width and height of elements, whilst also making the footer stick to the
// bottom of the page for better use of whitespace.
//
// Source: https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Sticky_footers#the_recipe
$spacing-unit: 1em // The average distance elements should be spaced from each other
$content-width: 36em // How wide the content should be
$line-height: $spacing-unit * 2

// Reset the whitespace on elements so it can be set manually
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure
    margin: 0
    margin-bottom: $spacing-unit // Maintain vertical rhythm
    padding: 0

// TODO: Write a more elegant fix to get this lined up
ul
    padding-left: $spacing-unit

///////////////////////////////DANGER: BIOHAZARD\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
// TODO: Find some way to contain this eldritch mess and never speak of it again
// Weird fix I have to include for normalize.css for some reason
.page-body .page-header
    padding: 0 // Absolutely horrible - don't do this!

    h1
        margin: 0 !important
// I can't just restrict it to a single class either, it had to be special
.page-body h1
    margin: 0 !important
// Oh, and the last child of the body also needs fixing because why not, right?
.page-body
    .wrapper
        p:last-of-type
            margin: 0 // I don't know why or how, but this fixed a major issue
// And now the headers for the site are broken for no reason
// Why oh why just please let this end
.page-header a, .page-header h1 // AAAAAAAHHHH
    margin: 0 !important
// 11PM: Oh, there's a weird issue with header margins. I can fix that.
// 3:30AM: I AM THE HEADER HAG AND ALL SHALL KNEEL BEFORE ME.

// There was just one more
// To hurt me
// One last time
.page-footer .wrapper
    padding-left: 0
    padding-right: 0
/////////////////////QUARANTINE ZONE////////////////////////////////////////////

// Establish basic styling rules
body
    font: $font-size-base $font-stack-content
    line-height: $font-line-height
    color: $color-foreground
    background-color: $color-background
    display: flex
    min-height: 100vh
    width: 100% // Specifying the width is very important to avoid unusual behavior
    flex-direction: column
    align-items: center

/* Code formatting */
pre
    padding: $spacing-unit
    overflow-x: auto // Stop the code going off the rails

/* Blockquotes */
blockquote
    border-left: 1px solid $color-comment
    padding: $spacing-unit
    font-style: italic

/* Hyperlinks */
a
    color: $color-cyan
    text-decoration: none

    &:hover
        color: $color-comment
        text-decoration: underline

/* navbar */
nav
    padding-top: $spacing-unit
    padding-bottom: $spacing-unit
    border-top: 1px solid $color-comment
    border-bottom: 1px solid $color-comment

    a
        margin-right: $spacing-unit

/* Post Header */
.post-header
    margin-bottom: $spacing-unit // This has to be reasserted

    h1
        margin: 0

    h2
        color: $color-comment
        font-size: $font-size-small

/* Images */
img
    display: block
    width: 100%

/* Sticky footer */
html, body
    box-sizing: border-box
    height: 100%
    padding: 0
    margin: 0

.wrapper
    box-sizing: border-box
    min-height: 100%
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    padding: $spacing-unit
    max-width: $content-width

.page-header, .page-footer
    flex-grow: 0
    flex-shrink: 0
    padding: $spacing-unit

.page-body
    flex-grow: 1