{% comment %}
The base layout from which all others are derived.
{% endcomment %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: site.lang | default: "en" }}">
    {%- include head.html -%}
    <body>
        <div class="wrapper">
            {%- include header.html -%}
            <main class="page-body" aria-label="Site content">
                <div class="wrapper">
                    {{ content }}
                </div>
            </main>
            {%- include footer.html -%}
        </div>
    </body>
</html>